@use 'config/cores';
@use 'config/reset';
@use 'secoes/produtos';


body{
  background-color: cores.$corPrincipal;
}

header{
  background-color: cores.$corPrincipal;

  h1{
    color: cores.$corTitulo;
    border: 1px solid #c1c1c1;
    border-radius: .5rem;
    padding: .5rem;
  }
}

button{
  padding: 1rem;
  color: cores.$corTitulo;
  background-color: cores.$corSecundaria;
  border-radius: .5rem;
  &.sucesso{
    background-color: green;
  }
  &:hover{
    background-color: #c1c1c1;
  }
}