$corPrincipal: blue;
$corTitulo: antiquewhite;
$corSecundaria: #090909;

body{
  background-color: $corPrincipal;
}

header{
  background-color: $corPrincipal;

  h1{
    color: $corTitulo;
    border: 1px solid #c1c1c1;
    border-radius: .5rem;
    padding: .5rem;
  }
}

button{
  padding: 1rem;
  color: $corTitulo;
  background-color: $corSecundaria;
  border-radius: .5rem;
  &.sucesso{
    background-color: green;
  }
  &:hover{
    background-color: #c1c1c1;
  }
}