.main{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 50vh;
  margin: 15vh 5VW 20vh 0;
  background-color: var(--color9);
  max-width: 700PX;
}

.main__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.25rem;
}

.main__container__item{
  border: 1px var(--color3) solid;
  padding: 1rem;
}

.pesoAbaixo{
  background-color: var(--color8);
}

.pesoNormal{
  background-color: var(--color7);
}

.sobrepeso{
  background-color: var(--color6);
}

.obesidadeI {
  background-color: var(--color4);
}
.obesidadeII {
  background-color: var(--color5);
}
.obesidadeIII {
  background-color: var(--color10);
}

.pesoAbaixo, .pesoNormal, .sobrepeso, .obesidadeI, .obesidadeII, .obesidadeIII{
  animation: selecionado 2.3s ease-in-out infinite;
}

@keyframes selecionado{
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.02);
  }
  100% {
    transform: scale(1);
  }
}