// fonte
$fontePrincipal: 'Roboto', sans-serif;

// esquema de cores
$fundoPadrao: #f5f6fa;
$fundoPrincipal: #182C61;
$colorPrincipal: #fff;
$fundoButton: #44bd32;
$fundoButtonHover: #4cd137;

// telas
$tablet: 1023px;
$mobile: 767px;

// tamanhos de medida
$medidaPadrao: 16px;
$medidaMedia: 24px;
$medidaGrande: 32px;
$medidaGrande2: 56px;
